/* Error: There is no module with the namespace "mixin".
 *   ,
 * 7 |     @include mixin.interpolation('image', url('https://cdn.pixabay.com/photo/2023/02/01/21/40/pink-7761356_1280.png'));
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   assets\scss\partials\_table.scss 7:5  @use
 *   assets\scss\style.scss 3:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There is no module with the namespace \"mixin\".\a   \2577 \a 7 \2502      @include mixin.interpolation('image', url('https://cdn.pixabay.com/photo/2023/02/01/21/40/pink-7761356_1280.png'));\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets\\scss\\partials\\_table.scss 7:5  @use\a   assets\\scss\\style.scss 3:1            root stylesheet";
}
