@use 'partials/title.scss' as *;
@use 'partials/subtitle' as *;
@use 'partials/table' as *;
@use 'partials/colors' as *;
@use 'mixins/mixin';

#studentsList {
	color: $titleColor;
    font-family: $fontF;
}

header {
    @include mixin.primaryColor;
    background-color: map-get($map: $coloursSet, $key: blu);
}

.esempio {
	background-color: green;

	h1 {
		color: gray;
		&.title {
			font-size: 52px;
		}
	}

	.paragraph {
		background-color: cyan;
		color: maroon;
		span {
			font-weight: bold;
		}
	}

	.childButton {
		background-color: blue;
		color: white;
        &:hover {
            background-color: red;
        }
	}
}

.innerParagraph {
    @include mixin.internalText(1.5rem, bold);
    span {
        @include mixin.internalText(2rem, normal);
    }
}

.myContainer {
    @include mixin.interpolation('color', lightgray);
}

p {
	font-size: 1.5rem;
	color: magenta;
	line-height: 1.2;
}

h4 {
	@extend p;
	text-align: right;
	margin-top: 15px;
}

.condition {
	font-weight: bolder;
	@include mixin.colorCondition('red');
}

.subTitleCond {
	@include mixin.colorCondition('');
}

.images img {
	max-width: 15%;
	border: 2px solid pink;
}

.images {
	position: relative;
}

.images img {
	position: absolute;
}

@for $i from 1 to 5 {
	#img#{$i} {
		$top: 150 * $i;
		$left: 150 * $i;
		top: #{$top}px;
		left: #{$left}px;
	}
}
