@use '../partials/colors' as *;

@mixin primaryColor {
	color: $primaryColor;
	background-color: map-get($map: $coloursSet, $key: blu);
}

@mixin internalText($dimensione, $peso) { /* mixin con un gruppo di quattro regole, due fisse e due cha saranno applicate in base ai parametri che arrivano */
	font-style: italic;
	color: $headerHover;
	font-size: $dimensione;
	font-weight: $peso;
}

@mixin interpolation($element, $value) {
	background-#{$element}: $value;
}

@mixin colorCondition($boolean) {
    @if ($boolean == 'red') {
        color: red;
    } @else {
        color: green;
    }
}
